
<header>
    <h1>{{pageTitle}}</h1>
    <p><a href='/'>Home Page</a></p>
    <p><a href='/about'>About Page</a></p>
    <p><a href='/project'>Calorie Adviser</a></p>
    <p><a href='/phil'>Phil Page</a></p>
    <p><a href='/bad'>Error Page</a></p>
    <p><a href='/help.html'>Help Page</a></p>
</header>
