<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Some Website</title>
        <style type="text/css"></style>
    </head>
    
    <body>
        <h1>We'll be right back!</h1>
        
        <p>the site is being updated, we'll be back soon</p>
        
        {{> footer}}
        
        <script type="text/javascript">
//              ------ FUNCTIONS ------           
        </script>
    </body>
</html>